@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    margin: 0;
    font-family: "Roboto Mono";
    background-color:#eeee ;
    display: block;
}

span {
    color: #222831;
}

ul {
    color: #222831;
}

/* nav*/
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}
.nav div a {
    text-decoration: none;
    color: #222831;
    font-size: 1rem;
}
.nav a:hover {
    text-decoration: underline;
}
.nav div img {
    height: 3rem;
}

/* hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.hero div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tri img {
    display: flex;
    width: 300pt;
    height: 300pt;
}

/* WHY SECTION */
.why {
    padding: 1em 2em 4em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* mobile (> 700px) */
@media screen and (max-width: 709px){
    .nav {
        flex-direction: column;
        padding: 1em 1em 0em 1em;
    }
    .nav div {
        flex-direction: column;
        margin-bottom: 10px;
        padding-right: 0;
    }
    .hero {
        padding: 0 1em 1em 1em;
    }
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    .stats {
        flex-direction: column;
    }
    .pricing {
        flex-direction: column;
    }
    iframe {
        height: 630px;
        width: auto;
        border: 4px solid #171717;
    }
    .intro div span {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
    }
    .tri img {
        height: 200pt;
        width: 200pt;
    }
    
    
}

@media screen and (max-width: 870px) {
    .qoute {
        flex-direction: column;
    }
}

@media screen and (max-width: 1220px) {
    .assets {
        flex-direction: column;
    }
    iframe {
        height: 630px;
        width: 349px;
        border: 4px solid #171717;
    }
    .info {
        padding: 1em 3em;
    }
}
@media screen and (max-width: 552px) {
    .hero {
        flex-direction: row;
    }
    .tri img {
        height: 140pt;
        width: 140pt;
    }
}

@media screen and (max-width: 500px) {
    .tri img {
        height: 140pt;
        width: 140pt;
    }
}