@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    margin: 0;
    font-family: "Roboto Mono";
    background-color:#eeee ;
    overflow-x: hidden;
}

span {
    color: #222831;
}

ul {
    color: #222831;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav*/
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}
.nav div a {
    text-decoration: none;
    color: #222831;
    font-size: 1rem;
}
.nav div img {
    height: 3rem;
}

/* hero */
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.hero div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tri img {
    display: flex;
    width: 300pt;
    height: 300pt;
}

/* info stat*/
.info {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 12em;
}
.assets {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    
}

.tab {
    border-radius: 0.12em;
    padding: 1em 4em;
}



.intro div span {
    
    display: block;
    text-align: center;
}

.text span {
    padding: 1em;
}
.topic span {
    padding: 2rem;
}
.topic {
display: flex;
flex-direction: column;
}

h1 {
    width: auto;
    height: auto;
    font-size: 48px;
    padding: 1rem;
}
p {
    width: 1fr;
    height: auto;
    font-size: 20px;
    padding: 1rem;

}

.stats {
    background-image: linear-gradient(#171717,#202C39);
    display: flex;
    justify-content: center;
    align-items: center;
}
.stats div {
    border-radius: 30px;
}
.stats span {
    color: #eeee;
}
/* img*/
.img div span {
    font-size: xx-large;
}
/* qoute */

.qoute {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.qoute span {
    color:#171717 ;
}
.qoute div div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.down-triangle {
    display: flex;
    justify-content: space-evenly;
}
.qoute div a {
    color: #171717; 
    text-decoration: none;
    text-underline-offset: 0.19em;
}
.qoute div a:hover{
    transition:.3s ease all;
    text-decoration: underline;
}
.project-logo1 img {
    width: 270px;
    height: auto;
}
.project-logo2 img {
    width: 370px;
    height: auto;
}
.visit-link img {
    margin-bottom: -9px;
}
.demo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.demo div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
iframe {
    height: 620px;
    width: 992px;
    border: 4px solid #171717;
}
.link div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
} 
.link {
    padding: 0 0 3em 0;
}

/* pricing */
.pricing {
    padding: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contain {
    padding: 1em;
}

.contain div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.pricing div div img {
    height: 50pt;
    width: 50pt;
}

.pricing div div button {
    background-color: #222831;
    color: #EEEEEE;
}

.cost {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cost span {
    font-size: 2em;
}




/* mobile (> 700px) */
@media screen and (max-width: 709px){
    .nav {
        flex-direction: column;
        padding: 1em 1em 0em 1em;
    }
    .nav div {
        flex-direction: column;
        margin-bottom: 10px;
        padding-right: 0;
    }
    .hero {
        padding: 0 1em 1em 1em;
    }
    .info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
    .stats {
        flex-direction: column;
    }
    .pricing {
        flex-direction: column;
    }
    iframe {
        height: 630px;
        width: auto;
        border: 4px solid #171717;
    }
    .intro div span {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 1rem;
    }
    .tri img {
        height: 200pt;
        width: 200pt;
    }
    
    
}

@media screen and (max-width: 870px) {
    .qoute {
        flex-direction: column;
    }
}

@media screen and (max-width: 1220px) {
    .assets {
        flex-direction: column;
    }
    iframe {
        height: 630px;
        width: 349px;
        border: 4px solid #171717;
    }
    .info {
        padding: 1em 3em;
    }
}
@media screen and (max-width: 552px) {
    .hero {
        flex-direction: row;
    }
    .tri img {
        height: 140pt;
        width: 140pt;
    }
}

@media screen and (max-width: 500px) {
    .tri img {
        height: 140pt;
        width: 140pt;
    }
}

/* WHY SECTION */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.why {
    padding: 1em 2em 4em 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.why div div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 1em;
}

.why div div div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
}

.why span {
    padding: 1em 14em;
}

.why a {
    border-radius: .1em;
    border: 0.1em solid #171717;
    margin: 1em;
    padding: 1em 2em;
    text-decoration: none;
    color: #171717;
}

.why a:hover {
    color: #eeee;
    background-image: linear-gradient(#171717, #202C39);
}


/* MOBILE VIEW */
@media screen and (max-width: 870px) {
    .why div div {
        flex-direction: column;
        padding: 1em;
    }

    .why span {
        padding: 1em;
    }
}


/* FOOTER SECTION */

.footer {
    padding: 0 1em 2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer img {
    height: 5em;
}

.footer div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* MOBILE VIEW */
@media only screen and (max-width : 600px) {}