
.nav {
    justify-content: space-between;
    padding: 2em 7em;
}

.nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav span {
    font-size: 1.1em;
    font-weight: 900;
    text-decoration: none;
}

.nav span:hover {
    text-decoration: none;
}

.nav a:hover {
    text-decoration: none;
}

.project-logo1 img {
    width: 270px;
    height: auto;
}

.project-logo2 img {
    width: 370px;
    height: auto;
}

.visit-link img {
    margin-bottom: -9px;
}

.link div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
}

.link {
    padding: 4em
}

.projects {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.projects div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects span {
    text-align: center;
}

@media only screen and (max-width : 900px) {
    .nav { 
        flex-direction: row;
        padding: 2em 7em
    }

    .nav div {
        flex-direction: row;
        margin-bottom: 0;
        padding-right: 0;
    }
    .projects div {
        flex-direction: column;
    }
}