
/* PROJECTS */

.project-logo1 img {
    width: 330px;
    height: auto;
}

.project-logo2 img {
    width: 290px;
    height: auto;
}

.project-logo3 img {
    width: 200px;
    height: auto;
}

.visit-link img {
    margin-bottom: -9px;
}

.link div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1em;
}

.link {
    padding: 4em
}

.projects {
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects span {
    text-align: center;
}

